<h1>Ton profil :</h1>

<h3>Avatar actuel</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <p>Il n'y a pas encore d'avatar lié à cet utilisateur.</p>
<%end%>

<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "Uploader l'avatar" %>
<% end %>

<p>Prénom : <%= @user.first_name %></p>
<p>Nom : <%= @user.last_name %></p>
<p>Email : <%= @user.email %></p>
<p>Description : <%= @user.description %></p>
<%= link_to "Editer le profil", edit_user_registration_path(@user.id) %>

<div class="card-deck">
	<% @events.each do |event| %>
	<div class="col-3">
		<div class="card mb-4">
			<%= link_to "#{event.title}", event_path(event.id), class: "card-title"%>
		</div>
	</div>
	<% end %>
</div>
